* {
  box-sizing: border-box;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {

}

h1 {
  text-shadow: rgba(0,0,0,.3) 2px 3px 1px;
}

h2 {

}
h1, h2, nav {
  font-family: "Chelsea Market";
  text-transform: uppercase;
  font-weight: normal;
  color: #b10430;
}

body > header {
  box-shadow: rgba(0, 0, 0, .25) 0 4px 3px 0;
  position: relative;
  z-index: 10;
}

body {
  background-color: #cab5a3;
  background-image: url(../images/bg-main.gif);
  background-repeat: repeat repeat;
  color: #333;
  font-family: Lato, Arial, Helvetica, sans-serif;
}



/* ******* */

.center-global {
  width: 1020px;
  margin: 0 auto;
}
/* ******* */

.promo {
  width: 1020px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  padding-bottom: 8px;
  box-shadow: rgba(0,0,0,.25) 0 3px 2px 0;

}
.promo-desc{
  position: absolute;
  bottom: 93px;
  right: 75px;
}
.promo-desc h1 {
  color: #fefefe;
}

.main {
  width: 1020px;
  margin: 0 auto;
/*  outline: solid 1px red;
  background-color: green;*/
}

  .latest {
  width: 640px;
  float: left;
  /*padding: 0 40px;*/
  }

    .media {
      clear: left;
      padding-bottom: 28px;
      overflow: hidden;
    }

      .media img {
        float: left;
        margin-right: 30px;
        border: solid 9px #ede0d5;
        border-radius: 20px;
        box-shadow: rgba(0,0,0,.25) 4px 2px 2px 0;
      }
  .media h2 {
    color: #49301a;
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 5px;
  }
  .media p {
    margin: 0;
    font-family: Lato;
    font-size: 18px;
    color: #7b6047;
    text-transform: uppercase;
  }
  .media p span {
    font-size: 25px;
  }

  .sidebar {
  width: 360px;
  float: right;
  }

footer {
  background-color: #42031e;
}
.footer-1 {
  float: left;
  width: 422px;
}
.footer-2 {
  float: left;
  width: 326px;
}
.footer-3 {
  float: left;
  width: 232px;
}
.tweet {
  padding-left: 55px;
  padding-right: 20px;
  position: relative;
}
.tweet a {
  color: #810430;
}
.tweet .date {
  color: #8f7e6d;
}
.tweet:before {
  content: url(../images/nova_2.png);
  display: block;
  position: absolute;
  left: 15px;
  top: 4px;
}
.footer-inside {
  width: 1020px;
  margin: 0 auto;
  padding-left: 40px;
}

.logo {
  float: left;
  margin-left: 145px;
  margin-top: -34px;
  position: relative;
  top: 34px;
  /*z-index: 10;*/
}
nav {
  float: right;
  margin-right: 177px;
  padding-top: 20px;
}
nav a {
  color: #fefefe;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
  font-size: 20px;
}
nav ul li:last-child {
  margin-right: 0;
}
.rating {
  float: left;
  clear: left;
  padding-top: 4px;
  padding-right: 15px;
  width: 45px;
}
.pop-item {
  padding-bottom: 20px;
  float: left;
  width: 250px;
}
.popular {
  padding-bottom: 20px;
}

.promo-btn {
  display: inline-block;
  width: 230px;
  padding: 13px 0;
  background-color: #6c0733;
  box-shadow: rgba(0,0,0,.25) 0 7px 2px 0;
  font-size: 20px;
  color: #fefefe;
}
.promo-desc {
  position: absolute;
  bottom: 93px;
  right: 75px;
  width: 316px;
  text-align: center;
}
.more-btn {
  text-align: center;
  float: right;
  margin-right: 50px;
  width: 280px;
}
.latest {
  /* line divider */
  width: 640px;
  float: left;
  padding: 0 40px;
  background: url(../images/bg-column.png) no-repeat top right;
}
/* *********** clear fix */

.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear:both;
}
.cf {
  *zoom: 1;
}


/* ****************** Responsive media queries */
@media (max-width: 1500px){

}

@media (max-width: 1200px){

}
@media (max-width: 900px) {

}
