@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-decoration: none;
}
body {
	background: #f1f1f1;
}
.prod-card {
	width: 800px;
	height: 50%;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
}
.img{
	width: 350px;
	float: left;
	overflow: hidden;
}
.prod-info{
	float: left;
	padding: 20px;
}
.prod-info span {
	display: block;
	overflow: hidden;
	margin: 4px 0;
}
.desc{
	font-size: 20px;
	color: #898989;
}
.price {
	color: #e74c3c;
	font-size: 40px;
	font-weight: 700;
}
.prod-info span a{
	display: block;
	float: left;
	padding: 2px 4px;
	margin-right: 6px;
	color: #e74c3c;
	font-size: 20px;
	border: 2px solid #e74c3c;
	border-radius: 5px;
}
.addbtn{
	width: 260px;
	font-size: 24px;
	color: #fff;
	background-color: #e74c3c;
	display: block;
	float: left;
	padding: 6px;
	text-align: center;
	margin: 10px 0;
	transition: .5s all;
}
.addbtn:hover {
	opacity: .4;
	color: black;
}

