body{
	margin: 0px;
	padding: 0px;
}
section{
	width: 100%;
	height: 100%;
	background-color: #eaffae;
	box-sizing: border-box;
	position: absolute;
	overflow: hidden;
}
.wrapper {
	width: 50%;
	height: 100%;
	background-color: #f55757;
	overflow: hidden;
	color: #eaffae;
	position: absolute;
	top: 0px;
	left:0px;
}
.sliding {
	position: absolute;
	top: 50%;
	white-space: nowrap;
	font-size: 11.3em;
	line-height: 220px;
	overflow: hidden;
	font-family: "Arial black";
	animation: anim 20s linear infinite;
}
@keyframes anim {
	0%{
		transform: translate(0,50%);
	}
	100% {
		transform: translate(-50%,-50%);
	}
}
