body {
	margin: 0;
	padding: 0;
	background: #333;
}
#main {
	height: 100vh;
	width: 100%;
	position: absolute;
	overflow: hidden;
}
#object1{
	position: absolute;
	top: 200px;
	left: 700px;
	opacity: 0.5;
	-webkit-filter:blur(4px);
	transform: rotate(20deg)
}
#object2{
	position: absolute;
	top: 20px;
	left: -50px;
}
#object3{
	position: absolute;
	left: 900px;
	top: 200px;
	opacity: 0.3;
	-webkit-filter: blur(2px);
	transform: rotate(-20deg);
}
#layer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
}
#msg {
	font-family: arail;
	font-size: 90px;
	color: #fafafa;
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	line-height: 60px;
	border-left: 2px solid #fafafa;
	padding: 15px;
	padding-top: 50px;
}
#world {
	font-size: 40px;
	letter-spacing: 25px;
}
