/* CSS for chat */

* {
	font-family: 'Slabo 27px', serif;
	box-sizing: border-box;
}
body {
	background-color: #FFBCBC;
}
.chatbox {
	width: 500px;
	min-width: 390px;
	height: 600px;
	background-color: #fff;
	padding: 25px;
	margin: 20px auto;
	box-shadow: 0 3px #ccc; /* senka na chatbox-u*/
}
.chatlogs {
	padding: 10px;
	width: 100%;
	height: 450px;
	background-color: #eee;
	overflow-x: hidden;
	overflow-y: scroll;
}
.chatlogs::-webkit-scrollbar {
	width: 10px;
}
.chatlogs::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(0,0,0,.2);
}
.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}
.chat .user-photo {
	width: 60px;
	height: 60px;
	background: #ccc;
	border-radius: 50%;
	overflow: hidden;
}
.chat .user-photo img{
	width: 100%;
}
.chat .chat-message {
	width: 80%;
	padding: 15px;
	margin: 5px 10px 0; /* top=5 right-left=10 bottom=0 */
	/*background-color: #1ddced;*/
	border-radius: 11px;
	color: #fff;
	font-size: 18px;
}
.friend .chat-message {
	background-color: #1adda4;
}
.self .chat-message {
	background-color: #1ddced;
	order: -1;
}
.chat-form {
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
}
.chat-form textarea {
	width: 75%;
	height: 50px;
	border: 2px solid #eee;
	border-radius: 5px;
	resize: none;
	padding: 10px;
	font-size: 18px;
	color: #333;
}
.chat-form textarea:focus {
	background-color: #fff;
}
.chat-form textarea::-webkit-scrollbar {
	width: 10px;
}
.chat-form textarea::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: rgba(0,0,0,.3)
}
.chat-form button {
	background-color: #1ddced;
	padding: 9px 15px;
	font-size: 24px;
	color: #fff;
	border: none;
	margin: 0 10px;
	border-radius: 4px;
	box-shadow: 0 3px 0 #0eb2c1;
	cursor: pointer;
	transition: background-color .3s;
}
.chat-form button:hover {
	background-color: #13c8d9;
}



