input[type=checkbox] + label {
	display: block;
	margin-top: 0.2em;
	padding: 0.2em;
	cursor: pointer;
}
input[type=checkbox] {
	display: none;
}
input[type=checkbox] + label:before {
	content:"\2714";
	border: 0.1em solid #000;
	border-radius: 0.2em;
	display: inline-block;
	width: 1em;
	height: 1em;
	padding-left: 0.2em;
	padding-bottom: 0.3em;
	margin-right: 0.3em;
	vertical-align: bottom;
	color: transparent;
	transition: .3s;
}
input[type=checkbox] + label:active:before {
	transform: scale(0);
}


input[type=checkbox]:checked + label:before {
	background-color: mediumseagreen;
	border-color: mediumseagreen;
	color: #fff;
}


input[type=checkbox]:disabled + label:before{
	transform: scale(1);
	border-color: #ddd;

}
input[type=checkbox]:checked:disabled + label:before{
	transform: scale(1);
	background-color: #aca;
	border-color: #aca;
}
