body {
	margin: 0px;
	padding: 0px;
	background-color: #333;
}
#button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000;
	text-decoration: none;
	font-family: arial;
	font-size: 18px;
	padding: 15px 40px;
	border: 2px solid white;
	outline: 1px solid rgba(255,255,255,.7);
	transition: all .7s;
}
#button:hover {
	text-shadow: 0 0 20px rgba(255,255,255,1);
	box-shadow: inset 0 0 20px rgba(255,255,255,.2),
				0 0 20px rgba(255,255,255,.3);
	outline-color: rgba(255,255,255,0);
	outline-offset: 15px;
}

