body {
	background-color: #1c1c1c;
}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
h1 {
	color: #fff;
	font-weight: bold;
	font-family: sans-serif;
}
a {
	width: 200px;
	height: 50px;
	line-height: 50px;
	background-color: yellow;
	display: block;
	text-align: center;
	font-size: 22px;
	color: #000;
	text-decoration: none;
	margin: auto;
	transition: .3s ease-in-out;
}
a:hover{
	transform: scale(1.2);
	background-color: #BB4;
	border-radius: 10px;
}
