body {
	background-color: #444;
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.loader span {
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: #fff;
	border-radius: 50%;
	animation: loading 1s linear infinite;
}
.loader span:nth-child(1){
	left: -25px;
	animation-delay: 0ms;
}
.loader span:nth-child(2){
	left: -50px;
	animation-delay: 200ms;
}
.loader span:nth-child(3){
	/* *********** */
	animation-delay: 400ms;
}
.loader span:nth-child(4){
	left: 25px;
	animation-delay: 600ms;
}
.loader span:nth-child(5){
	left: 50px;
	animation-delay: 800ms;
}
@keyframes loading{
	0%{
		top: 0px;
	}
	5%{
		top: -2px;
	}
	10%{
		top: -10px;
	}
	15%{
		top: -2px;
	}
	20%{
		top: 0px;
	}
}
