body {
	/*background-color: tomato;*/
}
.bar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 4px;
	background: #acece6;
	overflow: hidden;
}
.bar div:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	background: #26a69a;
	animation: box-1 2100ms cubic-bezier(0.65, 0.81, 0.73, 0.4) infinite;
}
@keyframes box-1{
	0%{
		left: -35%;
		right: 100%;
	}
	60%, 100%{
		left: 100%;
		right: -90%;
	}
}
