body {
	background: #151719;
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70px;
	display: flex;
}
.loader span {
	width: 10px;
	height: 60px;
	background: #fff;
	margin: 0px 1px;
	animation: loading 1000ms ease-in-out infinite;
}
.loader span:nth-child(1){
	background-color: #2eeca8;
	animation-delay: -700ms;
}
.loader span:nth-child(2){
	background: #eade3d;
	animation-delay: -600ms;
}
.loader span:nth-child(3){
	background: #64B5F6;
	animation-delay: -500ms;
}
.loader span:nth-child(4){
	background:#F4511E;
	animation-delay: -400ms;
}
.loader span:nth-child(5){
	background: #546E7A;
	animation-delay: -300ms;
}
.loader span:nth-child(6){
	background: #00de3d;
	animation-delay: -200ms;
}
@keyframes loading{
	0%,60%,100%{
		transform:scaleY(0.01);
	}
	35%{
		transform:scale(1);
	}
}
