body {
	background-color: #ddd;
	margin: 0;
	padding: 0;
}
.slider {
	width: 800px;
	height: 250px;
	background: url(img_1.jpg);
	margin: 100px auto;
	animation: fade 15s infinite linear;
}
@keyframes fade {
	25%{
		background: url(img_2.jpg);
	}
	50%{
		background: url(img_3.jpg);
	}
}
