input[tyoe='text'],
input[type='password'] {
    border: 1px solid #ccc;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 250px;
    outline: none;
    padding: 10px;
    transition: border-color 0.3s;
    width: 100%;
}
input[type='text']:focus,
input[type='password']:focus {
    border-color: #333;
}
.btn-show-hide-pwd{
    color: #222c6a;
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.5;
}
.btn-show-hide-pwd:hover {
    opacity: 1;
}
.btn-show-hide-pwd:active{
    transform: scale(0.9);
}
