
/*
*
	Style for SIMPLE FRONT
*
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
* {
	box-sizing: border-box;
	transition: all ease-in-out .3s;
	/* koriscenje ovakvog pristupa sa univezal selektorom moze da sa nekim stvarima napravi problem odnosno stavr da se zamislis sta te zeza kod animacije.


	*/
}
body {
	padding: 0;
	margin: 0;
	font-family: "Raleway", sans-serif;
	text-align: center;
}
img {
	max-width: 100%;
	height: auto;
}
.container {
	width: 95%;
	max-width: 70rem;
	margin: 0 auto;
}
.clearfix::after,
section::after,
footer::after {
	content:"";
	display: block;
	clear: both;

}

/***** Column system */
[class^=col-] {
	width: 100%;
	margin-top: 1em;
}
[class^=col-]:first-child {
	margin-top: 0;
}
.col-1 {
	width: 33.333334%;
	float: left;
}

@media (min-width: 40rem) {
	[class^=col-]{
		float: left;
		padding: 0 .5em;
		margin-top: 0;
	}

	[class^=col-1]:first-child{
		padding-left: 0;
	}
	[class^=col-1]:last-child{
		padding-right: 0;
	}
	.col-3{
		width: 50%;
	}
	.col-1{
		width: 16.666%;
	}
}


/***** Typography */
h1{
	font-weight: 300;
	font-size: 2rem;
	margin-top: 0;
}
p{
	margin-top: 0;
	line-height: 1.45em;
}
p:last-of-type{
	margin-bottom: 0;
}
.title {
	font-size: 2.6rem;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top: 1em;
}
.title span{
	font-weight: 300;
	display: block;
	font-size: 0.9em
}
.title-cta {
	margin: 0 0 0.5em;
}
.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media (min-width: 55rem) {
	.title {
		font-size: 3.5rem;
	}
}



/* ****** Buttons */

.button {
	display: inline-block;
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}
@media (min-width: 60rem){
	.button {
		font-size: 1.7rem;
	}
}


.button-small {
	font-size: .7rem;
	font-weight: 700;
}

.button-accent {
	color: #00ffc6;
	border-color: #00ff6c;
}
.button-accent:hover,
.button-accent:focus {
	background-color: #00ff6c;
	color: #232323;
}
.button-dark {
	border-color: #232323;
	color: #232323;
}
.button-dark:hover,
.button-dark:focus {
	background: #232323;
	color: #00ff6c;
}
/* ***** Parallax */

.parallax--bg {
	transition: initial;
}

/* ***** Header */

header {
	position: absolute;
	/*margin-top: 1em;*/
	left: 0;
	right: 0;
	margin: 1em;
	/*outline: 1px solid red;*/
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	margin: 1em;
	display: inline-block;
}
nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .5em;
	color: #fff;
	/*background-color: pink;*/
}
nav a:hover,
nav a:focus {
	color: #ddd;
}
@media (min-width: 55rem) {
	.logo {
		float: left;
	}
	nav {
		float: right;
	}
}

/* ****** Hero section */
.home-hero{
	background-image: url(../img/hero-bg.jpg);
	background-size: cover;
	/*background-position: center;*/
	padding: 10em 0;
	color: #fff;
	/*background-attachment: fixed;*/ /* for paralax */
}
@media (min-width: 60rem){
	.home-hero {
		height: 100vh;
		padding-top: 40vh;
	}
}
/***** Home hero */
.home-about-textbox {
	background-color: #232323;
	padding: 3.5em;
	width: 100vw;
	margin-left:  -2.5%;
	outline: 2px solid #00ff6c;
	outline-offset: -2.5em;
	color: #fff;
	position: relative;

}
.home-about-textbox h1{
	color: #00ff6c;
	position: absolute;
	top: .5em;
	background: #232323;
	padding: 0 .1em;
	left: 50%;
	transform: translateX(-50%)
}
@media (min-width: 25rem){
	h1{
		font-size: 2rem;
	}
	.home-about-textbox h1 {
		top: .5em;
		padding: 0 .25em;
	}

}

@media (min-width: 60rem){
	p{
		font-size: 1.2rem;
		line-height: 1.6e;
	}
	h1{
		font-size: 2.5rem;
	}
	.home-about-textbox h1 {
		top: .3em;
		/*padding: 0 .5em;*/
		left: 3.75rem;

		transform: translateX(0);
	}
	.home-about-textbox {
		width: 50%;
		padding: 5em;
		outline-offset: -2em;
		margin-left: -2.5%;
		text-align: left;
		top:-5em;
		box-shadow: 0 0 4em 0 rgba(0,0,0,.25)
	}
	.home-about {
		background-image: url(../img/who-we-are_impossible.jpg);
		background-repeat: no-repeat;
		padding-bottom: 10em;

	}

}
/***** Portfolio */
.portfolio {
	margin: 3em 0 0;
}
.port-item {
	position: relative;
	margin: 0;
}
.port-item img {
	display: block;
}

.port-description {
	position: absolute;
	z-index: 100;
	/*top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: #fff;
	background: rgba(0,0,0,.5);
	/*padding: 1em;*/
	/*padding-top: .5em;*/
	padding-bottom: 2em;
}
.port-description p {
	margin: 1em;
}
@media (min-width: 37rem){
	.port-item {
		width: 50%;
		float: left;
	}
}
@media (min-width: 60rem){
	.port-item {
		width: 33.3333334%;
		overflow: hidden;
	}
	.port-description {
		transform: translateY(150%);
	}
	.port-item:hover .port-description{
		transform: translateY(0%);
	}
}
/* ********* Call to action*/

.cta {
	background-color: #00ff6c;
	padding: 6em 0;
	color: black;
}
/********* Footre */

footer {
	background: #232323;
	color: #fff;
	text-align: left;
	padding: 5em 0;
}
