
/*
	*
	Style for SIMPLE FRONT
	*
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	font-family: "Raleway", sans-serif;
	text-align: center;
}
img {
	max-width: 100%;
	height: auto;
}
.container {
	width: 95%;
	margin: 0 auto;
}
/***** Typography */
.title {
	font-size: 2.6rem;
	margin-bottom: 1.5em;
}
.title span{
	font-weight: 300;
	display: block;
	font-size: 0.9em
}

@media (min-width: 55rem) {
	.title {
		font-size: 3.5rem;
	}
}

/* ****** Buttons */

.button {
	display: inline-block;
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}
.button-accent {
	color: #00ffc6;
	border-color: #00ff6c;
}
.button-accent:hover,
.button-accent:focus {
	background-color: #00ff6c;
	color: #232323;
}
@media (min-width: 60rem){
	.button {
		font-size: 1.7rem;
	}
}

/* ***** Header */

header {
	position: absolute;
	/*margin-top: 1em;*/
	left: 0;
	right: 0;
	margin: 1em;
	/*outline: 1px solid red;*/
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	margin: 1em;
	display: inline-block;
}
nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .5em;
	color: #fff;
	/*background-color: pink;*/
}
nav a:hover,
nav a:focus {
	color: #ddd;
}
@media (min-width: 55rem) {
	.logo {
		float: left;
	}
	nav {
		float: right;
	}
}

/* ****** Hero section */
.home-hero{
	background-image: url(../img/hero-bg.jpg);
	background-size: cover;
	/*background-position: center;*/
	padding: 10em 0;
	color: #fff;
}
@media (min-width: 60rem){
	.home-hero {
		height: 100vh;
		padding-top: 40vh;
	}
}
