ul.socialIcon {
	padding: 0;
	text-align: center;
}
.socialIcon li{
	background-color: #ff0;
	list-style: none;
	display: inline-block;
	margin: 4px;
	border-radius: 2em;
	overflow: hidden;
}
.socialIcon li a{
	display: block;
	padding: .5em;

	min-width:1.28571429em; /* from font-awesome number class fa-fw */
	max-width:1.28571429em;

	height: 1.28571429em;
	white-space: nowrap;
	line-height: 1.5em;
	text-decoration: none;
	transition: .75s;
	color: #fff;

}
.socialIcon li:hover a{
	max-width: 200px;
}
.socialIcon li i{
	margin-right: .2em;
	padding-right: .9em;
}
.socialIcon .facebook {
	background-color: #0050ef;
	box-shadow: 0 0 16px #0050ef;
}
.socialIcon .color2{
	background-color: #a20025;
	box-shadow: 0 0 16px #910014
}
.socialIcon .color3{
	background-color: #76608a;
	box-shadow: 0 0 16px #76608a;
}
.socialIcon .color4{
	background-color: #60a917;
	box-shadow: 0 0 16px #60a917;
}
.socialIcon .color5{
	background-color: #6d8764;
	box-shadow: 0 0 16px #6d8764;
}
