<!DOCTYPE html>
<html>
<head>
	<title>Fixed background</title>
	<link rel="stylesheet" type="text/css" href="fixed.css">
</head>
<body>
	<div class="heading">
		<h1>Welcome Here</h1>
		<h2>Scroll down for some excelnet content.</h2>
	</div>

	<div class="content">
		<h1><i>Excelent content</i></h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ad, pariatur facilis! Iure, molestiae, fugiat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ad, pariatur facilis! Iure, molestiae, fugiat!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ad, pariatur facilis! Iure, molestiae, fugiat! </p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ad, pariatur facilis! Iure, molestiae, fugiat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ad, pariatur facilis! Iure, molestiae, fugiat!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ad, pariatur facilis! Iure, molestiae, fugiat! </p>
	</div>
</body>
</html>
