.newspaper {
	column-count: 2;
	text-align: justify;
	line-height: 22px;
	/*float: left;*/
}
.newspaper h2 {
	column-span: all;
}
.newspaper img {
	width:100%;
}
.newspaper p:first-of-type:first-letter {
	font-size: 3em;
	float: left;
	line-height: 50%;
	margin: 0.1em 0.1em 0.1em -0.05em;
}
