body {
	margin: 0;
	padding: 0;
	background-color: #ddd;
}
.smiley {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
	background-color: #fffb53;
	border-radius: 50%;
	border: 6px solid #333;
}
.eyes:before,
.eyes:after {
	content: "";
	position: absolute;
	top: 30%;
	width: 25px;
	height: 25px;
	background-color: #333;
	border-radius: 50%;
	transition: .5s;
}
.eyes:before {
	left: 25%;
}
.eyes:after {
	right: 25%;
}
.smiley:hover .eyes:before,
.smiley:hover .eyes:after {
	width: 30px;
	height: 37px;
}
.lips {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 100px;
	border: 10px solid transparent;
	border-bottom: 10px solid #333;
	border-radius: 0;
	transition: .5s;
}
.lips:hover {
	border-radius: 60%;
}
