
/*CSS form*/
/* Base style */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Nutino', sans-serif;
	color: #384047;
	padding: 40px 0 60px;
}
hr {
	border:0;
	height: 0;
	border-top: 1px dotted rgba(0,0,0,0.2);
	margin: 50px 0;
}
h1 {
	margin: 0 0 30px 0;
	text-align: center;
}
form{
	margin-bottom: 60px;
}
input, textarea{
	font-size: 1em;
	color: #222;
	font-weight: 300;
	width: 100%;
	border: none;
	height: auto;
	padding: 15px;
	outline: 0;
	margin-bottom: 1.2em;
	border-radius: .3em;
	border-bottom: 3px solid rgba(0,0,0, .07);
	background-color: #e8eeef;
	box-shadow: 0 3px 0 rgba(100,0,0,0.05);
}
label {
	display: block;
	margin-bottom: 0.5em;
}

/* CSS */

/*form[class="form-contact"] = atribut selektor*/
.form-contact {
	padding: 20px 24px;
	background-color: #f4f7f8;
}
/*div[id="container"] = atribut selektor */
#container {
	max-width: 500px;
	margin: auto;
}
input[id="email"]{
	background-color: #fdfee6;
}

/*input[type="button"],
input[type="reset"],
input[type="submit"]
{
	cursor: pointer;
	font-size: .87em;
	font-weight: 400;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
}
ovo je sve zamenjeno sa .btn
*/
a[target="_blank"]{
	color: #39add1;
	text-decoration: none;
	border-bottom: 1px dotted;
}

/* ******* */
.br {
	border-radius: 0.5em;
	/* korisceno kod klase form-contact */
}
.avatar {
	display: block;
	margin: 0 auto 2em;
}
.rounded {
	border-radius: 50%;
}
.btn
{
	cursor: pointer;
	font-size: .87em;
	font-weight: 400;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
}
.btn:hover {
	opacity: .75;
}
.default {
	background-color: #52bab3;
}
.error {
	background-color: #ff784f;
}


/* Media queries */
@media (min-width: 769px){
	.inln {
		width: auto;
		display: inline-block;
	}
}

@media (max-width: 768px){
	#container {
		width: 90%;
	}
}
