body {
	color: #414141;
	padding: 40px 0px;
}
ul {
	list-style: none;
	width: 50%;
	margin: auto;
}
div {
	border-bottom: 1px dotted #40918c;
	padding: 15px 20px;
}
/* nth-of-type

:nth-last-of-type(); - start counting from the end (from the last element)


*/

 div:nth-of-type(even){
 	/*background-color: #52bab3;*/
 }

 :root{
 	background-color: #e3effb;
 }

:target {
	background-color: #384047;
	color: #fff;
}

#div3:target{
	color: initial;
	background-color: #efccf2;

}

.btn {
	display: inline-block;
	width: 100px;
	height: 30px;
	font-size: 18px;
	font-weight: 900;
	margin-top: 100px;
	background-color: tomato;
	text-align: center;
	line-height: 30px;
	/*cursor: pointer;*/
}

div:not(#div1){
/* not to target #div1 */

/*background-color: #52bab3;*/

}
div:not(:first-child){
	/*background-color: red;*/
}
