/*  CSS for flipping card*/
body {
	background-color: #eed;
	font-family: Verdana;
}
.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 40px auto;
}
h1 {
	color: #fff;
	text-align: center;
	font-size: 42px;
}
.panels {
	list-style-type: none;
	padding: 0;
}
.panels li:nth-child(odd) .front{
	background: #FF816B;
}
.panels li:nth-child(even) .front{
	background: #FFA393;
}
.panels li:nth-child(odd) .back{
	background-color: red;
}
.panels li:nth-child(even) .back{
	background-color: blue;
}

.panels li {
	position: relative;
	width: 25%;
	margin: 0;
	display: block;
	box-sizing: border-box;
	float: left;
}
.panels li div {
	width: 100%;
	padding: 50% 0;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
}
.panels div.back {
	transform: rotateY(90deg);
}
.panels div.front {
	position: absolute;
}
.panels li:hover div.front{
	animation: twirl 0.2s ease-in forwards;
}
.panels li:hover div.back{
	animation: twirl 0.2s 0.2s ease-out reverse forwards;
}
@keyframes twirl {
	0% { transform: rotateY(0deg) ; }
	100% { transform: rotateY(90deg); }
}
