body {
	background-color: #333;
	margin: 0;
	padding: 0;

}
ul {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 40%;
	top: 20%;
}
ul li {
	display: block;
	width: 240px;
	height: 280px;
	background-color: #eee;
	position: absolute;
	box-shadow: 10px 10px 20px rgba(0,0,0,.5);
	top: 0;
	transform-origin: bottom center;
	transform: rotate(10deg) skew(-30deg);
	transition: .5s;
}
ul li span {
	display: block;
	color: #ccc;
	text-align: center;
	font-size: 2em;
	line-height: 250px;
}
ul li:nth-child(1){
	transform: rotate(10deg) skew(-30deg) translate(15px, 15px);
}
ul li:nth-child(2){
	transform: rotate(10deg) skew(-30deg) translate(0px, 0px);
}
ul li:nth-child(3){
	transform: rotate(10deg) skew(-30deg) translate(-15px, -15px);
}

ul:hover li:nth-child(1){
	transform: rotate(5deg) skew(0deg) translate(200px, 0px);
}
ul:hover li:nth-child(2){
	transform: rotate(0deg) skew(0deg) translate(0px, 0px);
}
ul:hover li:nth-child(3){
	transform: rotate(-5deg) skew(0deg) translate(-200px, 0px);
}
ul li:before{
	content: "";
	position: absolute;
	width: 50%;
	height: 10px;
	left: 0;
	bottom: 0;
	background: #fc2427;
	transition: .5s;
}
ul li:after {
	content: "";
	position: absolute;
	width: 50%;
	height: 10px;
	right: 0px;
	bottom: 0;
	background-color: #333;
	transition: .5s;
}
ul li:hover:before{
	left: 50%;
}
ul li:hover:after{
	right: 50%;
}
