/* CSS for about me */

body {
	background-color: #ddd;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.box {
	width: 30%;
	/*height: auto;*/
	background-color: #fff;
	margin: 0 auto;
}
.profile {

	width: 90%;
	/*background-color: #2c3;*/
	/*margin: 0 auto;*/
	padding-top: 20px;
}
.profile:after{
	/*content: "";*/
	/*padding-bottom: 90%;*/
	/*display: block;*/
}
.profile img {
	position: relative;
	width: 85%;
	border-radius: 50%;
	border: 8px solid #00ACC1;
	/*margin: 0px auto;*/
	/*margin: 0px auto;*/
}
h2 {
	color: #eee;
	background-color: #2c3;
	text-align: center;
	/*margin-top: -5px; ;*/
	padding: 10px 0;
}
p {
	font-size: 18px;
	padding: 5px 20px;
	text-align: justify;
	line-height: 1.4em;

}
.box .social {
	/*height: auto;*/
	width: 41%;
	/*background-color: #2c3;*/
	margin: 0 auto;
	/*padding: 10px;*/
	/*background: red;*/
	/*display: inline-block;*/
}
.social .fa{
	/*margin: 0 auto;*/
	padding: 10px;
	color: #ddd;
	transition: .5s;
	display: inline-block;
}

.social .fa:hover {
	color: #333;
}
.name {
	text-align: center;
	word-spacing:10px;
	font-size: 30px;
}
