/* Test centering */
body {
	background-color: #990066;
}
.container {
	width: 600px;
	height: 600px;
	background-color: red;
	text-align: center;
}
.box {
	display: inline-block;
}


/**/


.container_2 {
	width: 600px;
	height: 600px;
	background-color: blue;

}
.box_2{
	width: 200px;
	height: 200px;
	margin: 0px auto;
}


/**/

.container_3 {
	position: relative;
	width: 600px;
	height: 600px;
	background-color: #ddd;
}
.box_3 {
	position: absolute;
	left: 50%;

	margin-left: -100px;

	/*transform: translate(-50%, -50%);*/
}
