body {
	background-color: #eee;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;\
	font-size: 16px;
}
.main {
	width: 80%;
	margin: 0 auto;
}
.top-nav{
	padding: 16px;
	margin: 0 auto;
	background-color: white;
	width: 80%;
	text-align: center;
	/*display: inline-block;*/
	line-height: 35px;
}
/*.top-nav ul {
	background-color: red;
	text-align: center;
	display: inline-block;
}
*/
.top-nav ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	/*border: 1px solid red;*/
}
.top-nav li {
	display: inline-block;
}
.top-nav a:link, a:visited{
	color: darkgray;
	text-decoration: none;
}
.top-nav a:hover, a:active{
	color: lightgray;
}
.btn {
	padding: 8px;
	border-radius: 3px;
	border: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
}
.btn-section {
	background-color: transparent;
}
.btn-section:hover {
	background-color: #eee;
}
.btn-user {
	background-color: lightgray;
}
.btn-user:hover {
	background-color: darkgray;
	color: #fff;
}
.left {
	float: left;
}
.right{
	float: right;
}
.scrolling {
	position: fixed;
	background-color: red;
	padding-left: 10% !important; /*zbog same sirine top-nav od 80% zbirno se dobija ono sto nam treba za centriranje*/
	padding-right: 10% !important; /*zbog same sirine od 80%*/
	top: 0;
	z-index: 2;
	border-bottom: 1px solid #ddd;
	box-shadow: 2px 0px 2px rgba(0,0,0,.5);

}
