* {
	margin: 0;
	padding: 0;
	font-family: Verdana;
}
body {
	background: #eee;
}
#video-container {
	width: 100%;
	height: 600px;
	overflow: hidden;
}
video {
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.content {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.content h1 {
	font-size: 3em;
	margin: 10px 0;
	color: #fff;
	text-transform: uppercase;
}
.content p {
	font-size: 1em;
	margin: 10px 0;
	color: #fff;
}
section {
	text-align: center;
	padding: 150px 200px;
	background: #fff;

}
section h1 {
	font-size: 3em;
	margin: 10px 0;
	color: #333;
	text-transform: uppercase;
}
section p {
	font-size: 1em;
	margin: 10px 0;
	color: #333;
}
.sec2 {
	background: transparent;
}
.sec2 h1 {
	color: #fff;
}
.sec2 p {
	color: #fff;
}
