body {
	margin: 0;
	padding: 0;
	background: #333;
	font-family: tahoma;
}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.container {
	position: relative;
	width: 240px;
	height: 300px;
	background: #fff;
	overflow: hidden; /* sakriva i h2 kao i visak slike od ovih dimenzija*/
}
.container:before {
	content: '';
	position: absolute;
	top: 0;
	left: 200%;
	width: 100%;
	height: 100%;
	background-color: rgba(100,0,0,.3);
	z-index: 1;
	transform: skewX(45deg);
	transition: .8s;
}
.container:hover:before{
	transition-delay: .3s;
	left: -200%;
}
.container img {
	height: 100%;
	filter: grayscale(100%); /*ili 0 do 1*/
	transition: 2s;
}
.container:hover img {
	filter: grayscale(0);
	transform: scale(1.2);
}
.container h2 {
	position: absolute;
	font-size: 18px;
	bottom: 0;
	margin: 0;
	text-align: center;
	padding: 10px 0;
	width: 100%;
	background: #fff;
	color: #333;
	transform-origin: bottom;
	transition: .5s;
	transform: perspective(500px) rotateX(90deg);
}
.container:hover h2{
	transform: perspective(500px) rotateX(0deg);
}
ul {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.container ul li{
	list-style: none;
	background: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	transform-origin: left;
	transition: .5s;
	border-bottom: 1px solid rgba(0,0,0,.4);
	transform: perspective(1000px) rotateY(90deg);

}
.container ul li .fa {
	color: #333;
}

.container:hover ul li {
	transform: perspective(1000px) rotateY(0deg);
}
.container:hover ul li:nth-child(1){
	transition-delay: .2s;
}
.container:hover ul li:nth-child(2){
	transition-delay: .4s;
}
.container:hover ul li:nth-child(3){
	transition-delay: .6s;
}
