body {
	margin: 0;
	padding: 0;

}
.container {
	width: 100%;
	position: relative;
	overflow-x: hidden;
}
.slider {
	position: relative;
	width: 500%;
	animation: anim 10s linear infinite;
}
.slide {
	position: relative;
	width: 20%;
	float: left;
	/*border: 1px solid red;*/
	height: 100vh;
}
h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translateY(50%);
	text-align: center;
	font-size: 5em;
	width: 100%;
	background-color: rgba(0,0,0,.6);
	color: #fff;
}
.slide{
	background-size: cover;
}
.slide:nth-child(1){
	background: url(1.jpg);
}
.slide:nth-child(2){
	background: url(2.jpg);
}
.slide:nth-child(3){
	background: url(3.jpg);
}
.slide:nth-child(4){
	background: url(4.jpg);
}
.slide:nth-child(5){
	background: url(5.jpg);
}
@keyframes anim {
	0% {
		left: 0;
	}
	16% {
		left: 0;
	}
	20% {
		left: -100%;
	}
	36% {
		left: -100%;
	}
	40% {
		left: -200%;
	}
	56% {
		left: -200%;
	}
	60% {
		left: -300%;
	}
	76% {
		left: -300%;
	}
	80% {
		left: -400%;
	}
	96% {
		left: -400%;
	}
	100% {
		left: 0;
	}
}
