html, body{
	margin: 0;
	padding: 0;
	background-color: seagreen;
	padding: 10px;
}
.heading h1 {
	line-height: 10px;
	color: #fff;
}
.container{
	padding: 20px;
}
.card{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width: 640px;
	height: 360px;
	background-color: #262626;
	overflow: hidden;
}
.card .card_image,
.card .card_detail{
	width: 100%;
	height: 100%;
	position: absolute;
	box-sizing: border-box;
	transition: .5s ease-in;
}
.card .card_image{
	top:0;
	left:0;
}
.card:hover .card_image{
	top:0;
	left: -100%;
}
.card .card_image img {
	width: 100%;

}
.card .card_detail{
	background-color: #252525;
	top: 0;
	left: 100%;
	padding: 60px 30px;

}
.card:hover .card_detail{
	top: 0;
	left: 0%;
}
.card .card_detail{
	color: #fff;
	margin: 0;
	padding:0 0 10px;
	border-bottom: 5px dotted #fff;
}
.card .card_detail p{
	margin: 20px 30px;
	color: #fff;
}
