body {
	background-color: tomato;
	margin: 0;
	padding: 0;
	font-family: arial;
	background-image: url(pic_3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;

}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 28px;
	overflow: hidden;
}
.title {
	float: left;
}
.title p{
	font-size: 22px;
	font-weight: bold;
	float: left;
	color: #fff;
	text-shadow: 2px 1px 1px #000;
	margin: 0;
}
ul{
	padding: 0;
	margin: 0% 0% 0% 1%;
	color: #fff21d;
	float: left;
}
ul li{
	list-style: none;
	font-size: 22px;
	font-weight: bold;
	overflow: hidden;
	text-shadow: 2px 1px 1px #000;
	animation: anim 4s infinite ease-in-out;
	height: 28px;

}
@keyframes anim {
	0%{
		transform: translate(0px, 25px);
	}
	20%{
		transform: translate(0px, 0px);
	}
	40%{
		transform: translate(0px, -29px);
	}
	60%{
		transform: translate(0px, -56px);
	}
	80%{
		transform: translate(0px, -85px);
	}
	90%{
		transform: translate(0px, -85px);
	}
	100%{
		transform: translate(0px, 23px);
	}
}
