/* Razor blade CSS background shape */
body {

}
.razor {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: tomato;

}
.razor:after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	background-color: inherit;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transform-origin: top right;
	transform: skewY(-5deg);
}
