/* bubble animation css */
body {
	background-color: tomato;
	z-index: 1;

	/* for single page to remove scrollbar*/
	overflow-y: hidden;
	overflow-x: hidden;

}
h1 {
	text-align: center;
	background-color: rgba(0,0,0, 0.1);
	color: rgba(0,0,0, 0.3);
	font-size: 60px;
}
.bubbles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	transform: translateZ(0);
	/*background-color: red;*/
}
.bubbles li {
	position: absolute;
	list-style: none;
	display: block;
	background-color: rgba(255,255,255,0.15);
	bottom: -100px;
	animation: square 20s infinite;
	transition-timing-function: linear;

}
.bubbles li:nth-child(1){
	width: 40px;
	height: 40px;
	left: 10%;
}
.bubbles li:nth-child(2){
	width: 60px;
	height: 60px;
	left: 30%;
	animation-delay: 2s;
	animation-duration: 16s;
}

.bubbles li:nth-child(3){
	width: 10px;
	height: 10px;
	left: 40%;
	animation-delay: 4s;
	animation-duration: 13s;
}

.bubbles li:nth-child(4){
	width: 80px;
	height: 80px;
	left: 50%;
	animation-delay: 3s;
	animation-duration: 11s;
}

.bubbles li:nth-child(5){
	width: 20px;
	height: 20px;
	left: 60%;
	animation-delay: 1s;
	animation-duration: 24s;
}

.bubbles li:nth-child(6){
	width: 95px;
	height: 95px;
	left: 70%;
	animation-delay: 1s;
	animation-duration: 13s;
}
.bubbles li:nth-child(7){
	width: 25px;
	height: 25px;
	left: 80%;
	animation-delay: 4s;
	animation-duration: 16s;
}



@keyframes square {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-1080px) rotate(630deg);
	}
}
