body {
	background: linear-gradient(140deg, blue, red);
	background-size: 200% 400%;
	animation: anim 5s ease infinite;
}
h1 {
	background: rgba(0,0,0,.3);
	color: #fff;
	font-size: 28px;
	font-weight: 100;
	padding: 20px;
	position: absolute;
	top: 20%;
	left: 45%;
	text-align: center;
	box-shadow: 0px 5px 10px rgba(0,0,0,.3);
}
@keyframes anim {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
