body {
	background-color: #bbb;
	margin: 0;
	padding: 0;
}
.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}
.bg:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(45deg,
				#000 0px,
				#000 40px,
				#fff 40px,
				#fff 80px
		);
	/* 0deg */
}
.bg:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(-45deg,
				#fff 0px,
				#fff 40px,
				#000 40px,
				#000 80px
		);
		/* 90deg*/
	mix-blend-mode: difference;
}
