body{
	margin: 0;
	padding: 0;
	background: #333;
}
.container{
	text-align: center;
	margin-top: 100px;
}
.img{
	width: 240px;
	height: 400px;
	background: red;
	display: inline-block;
	margin: 10px;
	/*background-size: cover;*/
	background-repeat: no-repeat;
	transition: 1s;
}
.img:hover{
	background-position: bottom center;
}
.img1{
	background-image: url(img1.jpg);
}
.img2{
	background-image: url(img2.jpg);
}
.img3{
	background-image: url(img3.jpg);
}