h1{
	font-family: helvetica;
	text-align: center;
	font-size: 50px;
	margin-top: 100px;
	text-shadow: 2px 2px 0px rgba(0,0,0,.6), 5px 7px 0px rgba(0,0,0,.1);
}
ul.breadcrumb{
	padding: 10px 16px;
	list-style: none;
	background-color: #eee;
}
ul.breadcrumb li {
	display: inline;
	font-size: 18px;
}
ul.breadcrumb li+li:before{
	padding: 8px;
	color: #000;
	content:"/\00a0";
}
ul.breadcrumb li a{
	color: #0275d8;
	text-decoration: none;
}
ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}
