*{
	margin: 0;
	padding: 0;
}
body {
	background-color: #adadad;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.dropdown{
	margin: 0 auto;
	margin-top: 50px;
	width: 150px;
	/*background-color: red;*/
}
.dropdown-button a{
	color: #333;
	text-decoration: none;
	/*background-color: white;
	padding: 10px;*/
}
.dropdown ul {
	list-style-type: none;
}
.dropdown ul li{
	padding: 10px 5px;
	background-color: white;
	display: none;
	/*visibility: hidden;*/
	opacity: 0;
}
.dropdown-button{
	padding: 10px;
	background-color: white;
}
.dropdown:hover li {
	display: block;
	animation: anim .6s forwards;
}
@keyframes anim {
	0%{
		/*transform: translateX(25px) scale(1.15);*/
		transform: translateX(25px) rotate(30deg);

	}
	100%{
		opacity: 1;
		/*transform: translateX(0px) scale(1);*/
		transform: translateX(0px) rotate(0deg);
		box-shadow: 0 0 4px rgba(0,0,0,.5);
	}
}
.dropdown li:first-child{
	animation-delay: .2s;
}
.dropdown li:nth-child(2){
	animation-delay: .4s;
}
.dropdown li:nth-child(3){
	animation-delay: .6s;
}
.dropdown li:last-child{
	animation-delay: .8s;
}
