body {
	background-color: tomato;
}
.textRevealContainer{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Cursive;
	font-size: 1.9em;
	text-align: center;
}
.textReveal {
	/*background-color: yellow;*/
	overflow: hidden;
	animation: animation 2s ease .5s forwards;
}
.textReveal > div{
	padding: 8px 16px;
	/*background-color: orange;*/
	transform: translateX(100%);
	border-left: 2px solid red;
	overflow: hidden;
	animation: animation 2s ease .5s forwards, borderOpacityAnim 2s ease .5s forwards;
}
.textReveal > div > div{
	transform: translateX(-100%);
	animation: animation 2s ease .5s forwards;
}
@keyframes animation {
	to {
		transform: translateX(0);
	}
}
@keyframes borderOpacityAnim {
	50%{
		border-left: 2px solid red;
	}
	100%{
		border-left: 2px solid transparent;
	}
}
.textReveal.x50{
	transform: translateX(-50%);
}

.textReveal.x100{
	transform: translateX(-100%);
}
.textReveal.zoom > div{
	transform: translateX(100%) scale(0.5,0.5)
}
.textRevealrotateY{
	perspective: 100px;

}
.textReveal.rotateY>div{
	transform: translateX(100%) rotateY(20deg);
}

