body {
	background-color: #adadad;
	margin: 0 ;
	padding: 0;
}
h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 10em;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	letter-spacing: 2px;
	-webkit-text-fill-color: #fff;
	-webkit-text-stroke-width: 2px;
}
h1:before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	color: #ff0;
	letter-spacing: 2px;
	-webkit-text-fill-color: #000;
	-webkit-text-stroke-width: 2px;
	height: 0;
	overflow: hidden;
	transition: .6s linear;
}
h1:hover:before{
	height: 100%;
}
h1:after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	color: #af0;
	letter-spacing: 2px;
	-webkit-text-fill-color: #00f;
	-webkit-text-stroke-width: 2px;
	width: 0%;
	overflow: hidden;
	transition: 1s linear;
}
h1:hover:after {
	transition-delay: 1s;
	width: 100%;
}
