/* Style for WEB flat page*/

@import url('https://fonts.googleapis.com/css?family=Alegreya');

/* font-family: 'Alegreya', serif; */

* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background-color: #e4e4e4;
	color: #67727a;
	font-family: 'Alegreya', serif;
	margin:0;
}
h2{
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%;
}
h3 {
	font-size: 175%;
	line-height: 155%;
	padding: 5% 0;
	font-weight: 500;
}
p {
	font-size: 160%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}
